@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* 1. Header */

* {
  font-family: 'Poppins', sans-serif;
  font-family: 'Rubik', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
  font-family: 'Rubik', sans-serif;
}

.navbar {
  height: 140px;
  background-color: #ffffff;
}

.item_Nav {
  margin-bottom: 30px;
}

.navbar-nav {
  padding-top: 80px;
  transform: translate(-24%, 1%);
}

.search-navBox {
  top: 40%;
  left: 49%;
  transform: translate(-50%, -50%);
  position: absolute;
  padding-left: 300px;
  height: 35px;
  border-radius: 35px;
  margin: 0;
  padding: 0;
  background-color: white;
  border: 2px solid #000;
  width: 860px;
}

.search-navBtn {
  float: right;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  padding-right: 20px;
}

.search-navTxt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: black;
  font-size: 15px;
  transition: 0.4s;
  line-height: 35px;
  padding-left: 20px;
  margin-top: -2px;
  width: 85%;
  font-weight: normal;
  font-style: italic;
}
/* Sidebar */
.btn_menubar {
  color: #000;
  border: none;
  display: none;
  background-color: #f8f9fa;
}

.offcanvas-body {
  margin-top: -25px;
}

.offcanvas-body ul li {
  color: #5a5a5a;
}

.offcanvas-body ul .nav-item:hover {
  font-size: 17px;
  transition: 0.4s;
}

.search-sidebar {
  height: 35px;
  border-radius: 35px;
  background-color: white;
  border: 2px solid #000;
  width: 250px;
}

.search-sideTxt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: black;
  font-size: 15px;
  transition: 0.4s;
  line-height: 35px;
  padding-left: 20px;
  margin-top: -2px;
  width: 85%;
  font-weight: normal;
  font-style: italic;
}

.search-sideBtn {
  float: right;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  padding-right: 20px;
}

.login_btn_sidebar {
  position: absolute;
  transform: translate(270%, 10%);
}

/* Dashboard User */
#dashboard {
  display: flex;
}

.dash_sidebar {
  top: 0;
  left: 0;
  width: 340px;
  background: #f2f2f2;
  height: 650px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  transition: all 0.5s ease;
}

.dash_sidebar.active .dash_profil {
  padding-left: 15px;
  transition: all 0.5s ease;
}

.dash_profil {
  display: flex;
  padding-top: 10px;
  padding-left: 50px;
  transition: all 0.5s ease;
}

.dash_profilImg img {
  border-radius: 50%;
  transition: all 0.5s ease;
}

.btn_uploadAvatar {
  width: 100px;
  height: 25px;
  border: none;
  background-color: #3488d8;
  border-radius: 20px;
  color: #ffffff;
  font-weight: 500;
  transition: all 0.5s ease;
}

.dash_profilTitle h4 {
  font-size: 30px;
  font-weight: normal;
  transition: all 0.5s ease;
}

.dash_profilTitle p {
  font-size: 13px;
  font-weight: normal;
  transition: all 0.5s ease;
}

.dash_link ul {
  margin-top: 30px;
  transition: all 0.5s ease;
}

.dash_link ul li {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0;
  list-style: none;
  line-height: 50px;
  padding: 0 15px;
  padding-left: 40px;
  display: flex;
  margin-top: 20px;
}

.dash_link ul li:hover {
  background-color: #ffffff;
  transition: 0.5s;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  cursor: pointer;
}

.dash_link ul li img {
  width: 30px;
  transition: all 0.5s ease;
}

.dash_link ul li p {
  font-size: 20px;
  margin-top: 3px;
  padding-left: 20px;
  transition: all 0.5s ease;
}

.dash_menuBtn {
  text-align: end;
  padding: 15px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.dash_mobile {
  width: 60px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 30px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  display: none;
  font-weight: 600;
  cursor: pointer;
  font-size: 22px;
}

.dash_mobile img {
  width: 30px;
}
/* dashboard sidebar hide */
.dash_sidebar.active #sideHide {
  display: block;
  width: 35px;
  padding-left: 10px;
  transition: all 0.5s ease;
}

.dash_sidebar.active #menuBtn {
  display: none;
  transition: all 0.5s ease;
}

#sideHide {
  display: none;
  transition: all 0.5s ease;
}

.dash_sidebar.active {
  width: 80px;
  padding: 0px;
  transition: all 0.5s ease;
}

.dash_sidebar.active .dash_profil {
  padding-left: 15px;
  transition: all 0.5s ease;
}

.dash_sidebar.active .dash_profil .dash_profilImg img {
  width: 50px;
  transition: all 0.5s ease;
}

.dash_sidebar.active .dash_profil .btn_uploadAvatar {
  display: none;
  transition: all 0.5s ease;
}

.dash_sidebar.active .dash_profil .dash_profilTitle {
  display: none;
  transition: all 0.5s ease;
}

.dash_sidebar.active .dash_link ul {
  padding-left: 0.7rem;
  transition: all 0.5s ease;
}

.dash_sidebar.active .dash_link ul li {
  padding: 0px 12px;
  transition: all 0.5s ease;
}

.dash_sidebar.active .dash_link ul li p {
  display: none;
  transition: all 1s ease;
}

/* dashboard content */
.dash_content {
  flex: auto;
  padding: 40px;
}

/* form change password */

.dash_info label {
  font-size: 20px;
  margin-top: 20px;
}

.dash_infoForm {
  height: 40px;
  border-radius: 35px;
  margin: 0;
  padding: 0;
  background-color: white;
  border: 2px solid #000;
  width: 80%;
  margin-top: 10px;
}

.dash_infoTxt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: black;
  font-size: 15px;
  transition: 0.4s;
  line-height: 40px;
  padding-left: 20px;
  margin-top: -2px;
  width: 90%;
  font-weight: normal;
  font-style: italic;
}

.dash_infoBtn {
  float: right;
  width: 35px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  padding-right: 20px;
  text-decoration: none;
}

.dash_infoBtnSve button {
  border: none;
  background-color: #000;
  border-radius: 30px;
  width: 100px;
  height: 40px;
  color: white;
  font-weight: 500;
  margin-top: 30px;
}

/* form change password */

#prdk_item2 {
  background-color: #ebf4f1;
  display: flex;
  align-items: center;
  margin-top: 80px;
  height: 400px;
}

.subs_email {
  border-radius: 30px;
  width: 80px;
  font-size: 15px;
  border: 2px solid #000;
  height: 40px;
  width: 300px;
  padding: 0 10px;
  color: #000;
  font-style: italic;
  background-color: #ebf4f1;
}
.btn_subscribe {
  background-color: #3488d8;
  color: #ffffff;
  border-radius: 30px;
  width: 110px;
  font-size: 15px;
  font-weight: 600;
  border: none;
  height: 35px;
  text-align: center;
  height: 40px;
}

/* modal */

.modal-content {
  max-width: 384px;
}

.modal-dialog {
  padding-left: 60px;
}

.modal_email {
  border-radius: 25px;
  border: 2px solid #000;
  height: 40px;
  padding: 15px;
  width: 88%;
  font-style: italic;
}

.modal_password {
  border-radius: 25px;
  border: 2px solid #000;
  padding: 15px;
  width: 88%;
  height: 40px;
  font-style: italic;
}

.btn_modallogin {
  background-color: #ddebe3;
  border-radius: 30px;
  width: 80px;
  font-size: 15px;
  font-weight: 600;
  border: none;
  height: 35px;
  text-align: center;
}

.name_form {
  display: flex;
  justify-content: space-between;
}

.name_form input {
  border-radius: 25px;
  border: 2px solid #000;
  padding: 15px;
  width: 46%;
  height: 40px;
  font-style: italic;
}

.select_form {
  border-radius: 25px;
  border: 2px solid #000;
  padding: 0 10px;
  width: 100%;
  height: 40px;
  font-style: italic;
}

/* 4. Footer */
#footer {
  background-color: #ebf4f1;
  height: 300px;
  align-items: center;
  margin-top: -60px;
}

#footer .container .row .col-md-3 div ul li a:hover {
  transition: 0.5s;
  font-weight: 600;
}

#footer2 {
  background-color: #000;
  height: 60px;
  display: flex;
  align-items: center;
  color: white;
}

#footer_mobile {
  background-color: #ebf4f1;
  height: auto;
  display: none;
}

.foter_icon:hover {
  width: 21.5px;
  transition: 0.4s;
}

.img_grup179 {
  margin-top: -100px;
}

@media (min-width: 1975px) {
  .img_grup179 {
    margin-top: -170px;
  }
}

@media (min-width: 1400px) {
  .search-navBox {
    width: 1050px;
  }
  .img_grup179 {
    margin-top: -120px;
  }
}

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
  #footer {
    margin-top: -80px;
  }
  .search-navBox {
    width: 700px;
  }
}

@media (max-width: 1100px) {
}

@media (max-width: 992px) {
  #footer {
    margin-top: -80px;
  }
  .btn_menubar {
    display: block;
    background-color: #ffffff;
  }
  .dash_content {
    overflow: auto;
  }
}

@media (max-width: 766px) {
  .dash_infoTxt {
    width: 85%;
  }
  #footer {
    display: none;
  }
  #footer_mobile {
    display: block;
    height: auto;
    padding: 50px 0px;
    align-items: center;
    margin-top: -100px;
  }
}

@media (max-width: 576px) {
  .dash_content {
    padding: 15px;
  }
  .dash_infoTxt {
    width: 75%;
  }
  .dash_infoForm {
    width: 100%;
  }
  .subs_email {
    width: 200px;
  }
  .btn_subscribe {
    width: 90px;
    font-size: 13px;
  }
  .login_btn_sidebar {
    transform: translate(240%, 10%);
  }

  /* sidebar Mobile */
  /* sidebar mobile active */
  #dashboard {
    margin-top: 0px;
  }

  .dash_sidebar.mobile_active {
    width: 350px;
    padding: 0px;
    transition: all 0.5s ease;
    display: block;
  }

  .dash_content.mobile_active {
    overflow: auto;
  }

  .dash_sidebar.mobile_active .dash_profil {
    display: flex;
    padding-top: 10px;
    padding-left: 50px;
    transition: all 0.5s ease;
  }

  .dash_sidebar.mobile_active .dash_profil .dash_profilImg img {
    border-radius: 50%;
    transition: all 0.5s ease;
  }

  .dash_sidebar.mobile_active .dash_profil .btn_uploadAvatar {
    width: 90px;
    height: 25px;
    border: none;
    background-color: #3488d8;
    border-radius: 20px;
    color: #ffffff;
    font-weight: 500;
    transition: all 0.5s ease;
  }

  .dash_sidebar.mobile_active .dash_profil .dash_profilTitle {
    display: block;
    transition: all 0.5s ease;
  }

  .dash_sidebar.mobile_active .dash_link ul {
    margin-top: 30px;
    transition: all 0.5s ease;
  }

  .dash_sidebar.mobile_active .dash_link ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0;
    list-style: none;
    line-height: 50px;
    padding: 0 15px;
    padding-left: 40px;
    display: flex;
    margin-top: 20px;
  }

  .dash_sidebar.mobile_active .dash_link ul li p {
    display: block;
    transition: all 0.5s ease;
  }

  .dash_sidebar.mobile_active.active {
    width: 80px;
  }

  .dash_sidebar.mobile_active.active .dash_profil {
    padding-left: 15px;
  }

  .dash_sidebar.mobile_active.active .dash_profil .dash_profilImg img {
    width: 50px;
    transition: all 0.5s ease;
  }

  .dash_sidebar.mobile_active.active .btn_uploadAvatar {
    display: none;
    transition: all 0.5s ease;
  }

  .dash_sidebar.mobile_active.active .dash_profilTitle {
    display: none;
    transition: all 0.5s ease;
  }

  .dash_sidebar.mobile_active.active .dash_link ul {
    padding-left: 0.7rem;
    transition: all 0.5s ease;
  }

  .dash_sidebar.mobile_active.active .dash_link ul li {
    padding: 0px 12px;
    transition: all 0.5s ease;
  }

  .dash_sidebar.mobile_active.active .dash_link ul li p {
    display: none;
    transition: all 0.5s ease;
  }

  .dash_mobile {
    display: flex;
  }

  .dash_content {
    overflow: visible;
  }

  .dash_sidebar {
    display: none;
    transition: all 0.5s ease;
  }
  /* sidebar mobile */
  * {
    overflow: visible;
  }
  .search-sidebar {
    width: 200px;
  }
  .search-sideTxt {
    width: 75%;
  }
  .modal-dialog {
    padding-left: 0px;
  }
}

@media (max-width: 398px) {
  .dash_infoTxt {
    width: 65%;
  }
  .subs_email {
    width: 150px;
  }
  .search-sidebar {
    width: 200px;
  }
  .search-sideTxt {
    width: 75%;
  }
}
