@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* 1. Header */

* {
  font-family: 'Poppins', sans-serif;
  font-family: 'Rubik', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
  font-family: 'Rubik', sans-serif;
}

.navbar {
  height: 140px;
}

.item_Nav {
  margin-bottom: 30px;
}

.navbar-nav {
  padding-top: 80px;
  transform: translate(-24%, 1%);
}

.search-navBox {
  top: 40%;
  left: 49%;
  transform: translate(-50%, -50%);
  position: absolute;
  padding-left: 300px;
  height: 35px;
  border-radius: 35px;
  margin: 0;
  padding: 0;
  background-color: white;
  border: 2px solid #000;
  width: 860px;
}

.search-navBtn {
  float: right;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  padding-right: 20px;
}

.search-navTxt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: black;
  font-size: 15px;
  transition: 0.4s;
  line-height: 35px;
  padding-left: 20px;
  margin-top: -2px;
  width: 85%;
  font-weight: normal;
  font-style: italic;
}
/* Sidebar */
.btn_menubar {
  color: #000;
  border: none;
  display: none;
  background-color: #f8f9fa;
}

.offcanvas-body {
  margin-top: -25px;
}

.offcanvas-body ul li {
  color: #5a5a5a;
}

.offcanvas-body ul .nav-item:hover {
  font-size: 17px;
  transition: 0.4s;
}

.search-sidebar {
  height: 35px;
  border-radius: 35px;
  background-color: white;
  border: 2px solid #000;
  width: 250px;
}

.search-sideTxt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: black;
  font-size: 15px;
  transition: 0.4s;
  line-height: 35px;
  padding-left: 20px;
  margin-top: -2px;
  width: 85%;
  font-weight: normal;
  font-style: italic;
}

.search-sideBtn {
  float: right;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  padding-right: 20px;
}

.login_btn_sidebar {
  position: absolute;
  transform: translate(270%, 10%);
}

/* 2. Item 1 */

#item1 {
  background-color: #ebf4f1;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.h1_item1 {
  color: #5a5a5a;
  width: 100%;
  font-size: 38px;
  font-weight: 600;
  padding-left: 80px;
  margin-top: 170px;
}

.p_item1 {
  color: #5a5a5a;
  width: 100%;
  font-size: 18px;
  padding-left: 80px;
}

.img_item1 {
  margin-top: 60px;
}

.card_rounded {
  margin-bottom: -70px;
}

/* 3. Item 2 */
.item2 {
  background-color: #ffffff;
}

.a_item2 {
  font-size: 1.25rem;
}

.card_harga {
  width: 55px;
  background-color: #ffffff;
  font-size: 13px;
  text-decoration: none;
  position: absolute;
  border-radius: 30px;
  color: #000;
  font-weight: 500;
  margin: 9px;
  height: 30px;
  text-align: center;
}

.card_harga p {
  margin-top: 5px;
  color: #000000;
  font-weight: 600;
}

.card_love {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  font-size: 9px;
  color: #000;
  border-radius: 50%;
  margin: 10px;
  left: auto;
  right: 0%;
  text-align: center;
}

.card_love p {
  margin-top: 8px;
}

.card_right {
  margin-top: -220px;
}

.img_grup179 {
  margin-top: -100px;
}

/* 4. Item 3 */

#item3 {
  background-color: #ebf4f1;
  display: flex;
  align-items: center;
  margin-top: 80px;
  height: 650px;
}

.h3_item3 {
  width: 90%;
  padding-left: 100px;
}

.p_item3 {
  width: 88%;
  font-weight: 400;
  padding-left: 100px;
  margin-top: 30px;
}

.h3_2_item3 {
  width: 80%;
  padding-left: 100px;
}

.p_2_item3 {
  width: 80%;
  padding-left: 100px;
  margin-top: 30px;
}

/* 4. Footer */
#footer {
  background-color: #ebf4f1;
  height: 300px;
  align-items: center;
  margin-top: -60px;
}

#footer .container .row .col-md-3 div ul li a:hover {
  transition: 0.5s;
  font-weight: 600;
}

#footer2 {
  background-color: #000;
  height: 60px;
  display: flex;
  align-items: center;
  color: white;
}

#footer_mobile {
  background-color: #ebf4f1;
  height: auto;
  display: none;
}

/* modal */

.modal-content {
  max-width: 384px;
}

.modal-dialog {
  padding-left: 60px;
}

.modal_email {
  border-radius: 25px;
  border: 2px solid #000;
  height: 40px;
  padding: 15px;
  width: 88%;
  font-style: italic;
}

.modal_password {
  border-radius: 25px;
  border: 2px solid #000;
  padding: 15px;
  width: 88%;
  height: 40px;
  font-style: italic;
}

.btn_modallogin {
  background-color: #ddebe3;
  border-radius: 30px;
  width: 80px;
  font-size: 15px;
  font-weight: 600;
  border: none;
  height: 35px;
  text-align: center;
}

.name_form {
  display: flex;
  justify-content: space-between;
}

.name_form input {
  border-radius: 25px;
  border: 2px solid #000;
  padding: 15px;
  width: 46%;
  height: 40px;
  font-style: italic;
}

.select_form {
  border-radius: 25px;
  border: 2px solid #000;
  padding: 0 10px;
  width: 100%;
  height: 40px;
  font-style: italic;
}

/* Halaman Produk */
/* 1. paginations */
.btn_pagemenuleft {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  background-color: #f5f5f5;
}

.btn_pagemenuright {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  background-color: #e6e6e6;
}

.btn_pageitem {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  background-color: #e6e6e6;
}

.btn_pageitem:hover {
  background-color: #f5f5f5;
  transition: 0.2s;
}

.btn_pageitem.Active {
  background-color: #f5f5f5;
}

/* Item 2 */

#prdk_item2 {
  background-color: #ebf4f1;
  display: flex;
  align-items: center;
  margin-top: 80px;
  height: 400px;
}

.subs_email {
  border-radius: 30px;
  width: 80px;
  font-size: 15px;
  border: 2px solid #000;
  height: 40px;
  width: 300px;
  padding: 0 10px;
  color: #000;
  font-style: italic;
  background-color: #ebf4f1;
}

/*Halaman Detail Produk */

.dp_cardlove {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  font-size: 9px;
  color: #000;
  border-radius: 50%;
  margin: 20px;
  left: auto;
  right: 0%;
  text-align: center;
}

.dp_cardlove p {
  margin-top: 11px;
}

.dp_bookmark {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  font-size: 9px;
  color: #000;
  border-radius: 50%;
  margin: 20px;
  left: auto;
  right: 0%;
  text-align: center;
}

.dp_bookmark p {
  margin-top: 11px;
}

.inp_typeher {
  border-radius: 25px;
  border: 2px solid #000;
  height: 40px;
  padding: 15px;
  width: 480px;
  font-style: normal;
}

.dp_select {
  border-radius: 25px;
  border: 2px solid #000;
  padding: 0 10px;
  width: 120px;
  height: 40px;
  font-style: normal;
}

.dp_comercil {
  border: 1px solid #000;
  padding: 0 10px;
  width: 80%;
  height: 40px;
  font-style: normal;
}

.btn_adcart {
  background-color: #000;
  color: #ffffff;
  border-radius: 30px;
  width: 200px;
  font-size: 15px;
  font-weight: 600;
  border: none;
  height: 50px;
  text-align: center;
}

.dp_btnbuy {
  padding-left: 100px;
}

.btn_Buy {
  background-color: #146ebe;
  color: #ffffff;
  border-radius: 30px;
  width: 200px;
  font-size: 15px;
  font-weight: 600;
  border: none;
  height: 50px;
  text-align: center;
}

.dp_imgprofil {
  border-radius: 50%;
}

.dp_messageowner {
  border-radius: 25px;
  border: 2px solid #000;
  height: 40px;
  padding: 15px;
  width: 88%;
}

.btn_rivew {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn_rivew button {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border: none;
  color: #000;
  background-color: #f5f5f5;
  font-weight: 500;
}

/* Swiper js */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn_next {
  right: -10px;
  left: auto;
  position: absolute;
  top: 35%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #000000;
}

.btn_prev {
  right: auto;
  left: -10px;
  position: absolute;
  top: 35%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #000000;
}

.pagination_.div[class^='swiper-button-next'] {
  width: 20px;
}
/* Profil Item */

.btn_follow {
  background-color: #ffffff;
  border-radius: 30px;
  width: 120px;
  font-size: 15px;
  font-weight: 600;
  border: 2px solid black;
  height: 40px;
  text-align: center;
}

.btn_follow:hover {
  background-color: #000;
  color: #ffffff;
  transition: 0.5s;
}

.profil_shortitem {
  margin-top: 75px;
  padding-left: 320px;
}

.profil_short {
  border: none;
  color: #7b7b7b;
  font-size: 20px;
  outline: none;
  font-weight: 500;
  cursor: pointer;
}

.profil_h5 {
  color: #7b7b7b;
  font-size: 20px;
}

.dp_profilname {
  padding-left: 20px;
}
.dp_profilname a {
  padding-left: 8px;
}

/* Responsive */

@media (min-width: 1975px) {
  .img_grup179 {
    margin-top: -170px;
  }
}

@media (min-width: 1400px) {
  .search-navBox {
    width: 1050px;
  }
  .img_grup179 {
    margin-top: -120px;
  }
}

@media (max-width: 1400px) {
  .card_right {
    margin-top: -190px;
  }
  .dp_btnbuy {
    padding-left: 40px;
  }
  .dp_bookmark {
    top: 20%;
  }
  .inp_typeher {
    width: 380px;
  }
  .profil_shortitem {
    padding-left: 180px;
  }
}

@media (max-width: 1200px) {
  .search-navBox {
    width: 700px;
  }

  .card_right {
    margin-top: -160px;
  }
  .h3_item3 {
    width: 90%;
    padding-left: 50px;
  }
  .p_item3 {
    width: 92%;
    padding-left: 50px;
  }
  .h3_2_item3 {
    width: 90%;
    padding-left: 50px;
  }
  .p_2_item3 {
    width: 85%;
    padding-left: 50px;
  }

  #footer {
    margin-top: -80px;
  }
  .dp_cardlove {
    top: -3%;
  }
  .dp_btnbuy {
    padding-left: 20px;
  }
  .inp_typeher {
    width: 300px;
  }
  .dp_comercil {
    width: 92%;
  }
  .profil_shortitem {
    padding-left: 100px;
  }
  .btn_follow {
    width: 100px;
  }
}

@media (max-width: 992px) {
  .navbar {
    height: auto;
  }
  .item_Nav {
    margin-bottom: 0px;
  }
  .img_item1 {
    width: 100%;
    margin-bottom: 0px;
  }
  .h1_item1 {
    padding-left: 20px;
  }
  .p_item1 {
    padding-left: 20px;
  }
  .btn_menubar {
    display: block;
    background-color: #f8f9fa;
  }
  .card_right {
    margin-top: -120px;
  }
  .h3_item3 {
    width: 100%;
    padding-left: 0px;
  }
  .p_item3 {
    width: 92%;
    padding-left: 0px;
  }
  .h3_2_item3 {
    width: 100%;
    padding-left: 45px;
  }
  .p_2_item3 {
    width: 100%;
    padding-left: 45px;
  }

  #footer {
    margin-top: -80px;
  }

  .dp_cardlove {
    top: 2%;
  }
  .inp_typeher {
    width: 550px;
  }
  .dp_btnbuy {
    padding-left: 220px;
  }
  .profil_shortitem {
    padding-left: 0px;
  }
  .profil_shortitem {
    margin-top: -50px;
  }
  .position-sticky {
    padding: 5px;
  }
}

@media (max-width: 766px) {
  #item1 {
    height: auto;
  }
  .h1_item1 {
    margin-top: 80px;
  }
  .img_item1 {
    margin-top: 30px;
  }
  .navbar {
    height: auto;
  }
  .card_right {
    margin-top: -0px;
  }
  #item3 {
    height: 700px;
  }
  .h3_2_item3 {
    width: 100%;
    padding-left: 0px;
  }
  .p_2_item3 {
    width: 100%;
    padding-left: 0px;
  }
  #footer {
    display: none;
  }
  #footer_mobile {
    display: block;
    height: auto;
    padding: 50px 0px;
    align-items: center;
    margin-top: -100px;
  }
  .dp_cardlove {
    top: -2%;
  }
  .inp_typeher {
    width: 350px;
  }
  .dp_btnbuy {
    padding-left: 70px;
  }
}

@media (max-width: 576px) {
  .h1_item1 {
    padding-left: 0px;
    margin-top: 50px;
  }
  .p_item1 {
    padding-left: 0px;
  }

  .search-sidebar {
    width: 210px;
  }
  .search-sideTxt {
    width: 75%;
  }
  .login_btn_sidebar {
    transform: translate(240%, 10%);
  }
  #item3 {
    height: 720px;
  }
  .card_right {
    margin-top: 0px;
  }
  .h3_2_item3 {
    margin-top: 20px;
  }
  #item3 .container {
    margin-top: -40px;
  }
  .modal-dialog {
    padding-left: 0px;
  }
  .subs_email {
    width: 200px;
  }
  .inp_typeher {
    width: 200px;
  }
  .dp_cardlove {
    width: 35px;
    height: 35px;
    top: -3%;
  }
  .dp_cardlove p {
    margin-top: 10px;
  }
  .dp_bookmark {
    width: 35px;
    height: 35px;
  }

  .dp_bookmark p {
    margin-top: 10px;
  }

  .btn_adcart {
    width: 130px;
  }
  .btn_Buy {
    width: 130px;
  }
  .dp_btnbuy {
    padding-left: 50px;
  }
  .dp_profilname {
    padding-left: 10px;
  }
}

@media (max-width: 398px) {
  .search-sidebar {
    width: 150px;
  }
  .search-sideTxt {
    width: 70%;
  }

  .login_btn_sidebar {
    transform: translate(160%, 10%);
  }
  .h5_item2 {
    font-size: 15px;
  }
  .a_item2 {
    font-size: 15px;
  }
  #item3 {
    height: 900px;
  }
  .subs_email {
    width: 150px;
  }
  .dp_profilname {
    padding-left: 5px;
  }
  .btn_follow {
    width: px;
  }
  .dp_cardlove {
    width: 30px;
    height: 30px;
    top: -3%;
  }
  .dp_cardlove p {
    margin-top: 8px;
  }
  .dp_bookmark {
    width: 30px;
    height: 30px;
  }

  .dp_bookmark p {
    margin-top: 8px;
  }
  .inp_typeher {
    width: 190px;
  }
  .dp_btnbuy {
    padding-left: 60px;
  }
}
