@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* 1. Header */

* {
  font-family: 'Poppins', sans-serif;
  font-family: 'Rubik', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
  font-family: 'Rubik', sans-serif;
}

.navbar {
  height: 140px;
  background-color: #ffffff;
}

.item_Nav {
  margin-bottom: 30px;
}

.navbar-nav {
  padding-top: 80px;
  transform: translate(-24%, 1%);
}

.search-navBox {
  top: 40%;
  left: 49%;
  transform: translate(-50%, -50%);
  position: absolute;
  padding-left: 300px;
  height: 35px;
  border-radius: 35px;
  margin: 0;
  padding: 0;
  background-color: white;
  border: 2px solid #000;
  width: 860px;
}

.search-navBtn {
  float: right;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  padding-right: 20px;
}

.search-navTxt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: black;
  font-size: 15px;
  transition: 0.4s;
  line-height: 35px;
  padding-left: 20px;
  margin-top: -2px;
  width: 85%;
  font-weight: normal;
  font-style: italic;
}
/* Sidebar */
.btn_menubar {
  color: #000;
  border: none;
  display: none;
  background-color: #f8f9fa;
}

.offcanvas-body {
  margin-top: -25px;
}

.offcanvas-body ul li {
  color: #5a5a5a;
}

.offcanvas-body ul .nav-item:hover {
  font-size: 17px;
  transition: 0.4s;
}

.search-sidebar {
  height: 35px;
  border-radius: 35px;
  background-color: white;
  border: 2px solid #000;
  width: 250px;
}

.search-sideTxt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: black;
  font-size: 15px;
  transition: 0.4s;
  line-height: 35px;
  padding-left: 20px;
  margin-top: -2px;
  width: 85%;
  font-weight: normal;
  font-style: italic;
}

.search-sideBtn {
  float: right;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  padding-right: 20px;
}

.login_btn_sidebar {
  position: absolute;
  transform: translate(270%, 10%);
}

/* 2. Item 1 */

#item1 {
  background-color: #ebf4f1;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.h1_item1 {
  color: #5a5a5a;
  width: 100%;
  font-size: 38px;
  font-weight: 600;
  padding-left: 80px;
  margin-top: 170px;
}

.p_item1 {
  color: #5a5a5a;
  width: 100%;
  font-size: 18px;
  padding-left: 80px;
}

.img_item1 {
  margin-top: 60px;
}

.card_rounded {
  margin-bottom: -70px;
}

/* 3. Item 2 */
.item2 {
  background-color: #ffffff;
}

.a_item2 {
  font-size: 1.25rem;
}

.card_harga {
  width: 55px;
  background-color: #ffffff;
  font-size: 13px;
  text-decoration: none;
  position: absolute;
  border-radius: 30px;
  color: #000;
  font-weight: 500;
  margin: 9px;
  height: 30px;
  text-align: center;
}

.card_harga p {
  margin-top: 5px;
  color: #000000;
  font-weight: 600;
}

.card_love {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  font-size: 9px;
  color: #000;
  border-radius: 50%;
  margin: 10px;
  left: auto;
  right: 0%;
  text-align: center;
}

.card_love p {
  margin-top: 8px;
}

.card_right {
  margin-top: -220px;
}

.img_grup179 {
  margin-top: -100px;
}

/* 4. Item 3 */

#item3 {
  background-color: #ebf4f1;
  display: flex;
  align-items: center;
  margin-top: 80px;
  height: 650px;
}

.h3_item3 {
  width: 90%;
  padding-left: 100px;
}

.p_item3 {
  width: 88%;
  font-weight: 400;
  padding-left: 100px;
  margin-top: 30px;
}

.h3_2_item3 {
  width: 80%;
  padding-left: 100px;
}

.p_2_item3 {
  width: 80%;
  padding-left: 100px;
  margin-top: 30px;
}

/* 4. Footer */
#footer {
  background-color: #ebf4f1;
  height: 300px;
  align-items: center;
  margin-top: -60px;
}

#footer .container .row .col-md-3 div ul li a:hover {
  transition: 0.5s;
  font-weight: 600;
}

#footer2 {
  background-color: #000;
  height: 60px;
  display: flex;
  align-items: center;
  color: white;
}

#footer_mobile {
  background-color: #ebf4f1;
  height: auto;
  display: none;
}

.foter_icon:hover {
  width: 21.5px;
  transition: 0.4s;
}

/* modal */

.modal-content {
  max-width: 384px;
}

.modal-dialog {
  padding-left: 60px;
}

.modal_email {
  border-radius: 25px;
  border: 2px solid #000;
  height: 40px;
  padding: 15px;
  width: 88%;
  font-style: italic;
}

.modal_password {
  border-radius: 25px;
  border: 2px solid #000;
  padding: 15px;
  width: 88%;
  height: 40px;
  font-style: italic;
}

.btn_modallogin {
  background-color: #ddebe3;
  border-radius: 30px;
  width: 80px;
  font-size: 15px;
  font-weight: 600;
  border: none;
  height: 35px;
  text-align: center;
}

.name_form {
  display: flex;
  justify-content: space-between;
}

.name_form input {
  border-radius: 25px;
  border: 2px solid #000;
  padding: 15px;
  width: 46%;
  height: 40px;
  font-style: italic;
}

.select_form {
  border-radius: 25px;
  border: 2px solid #000;
  padding: 0 10px;
  width: 100%;
  height: 40px;
  font-style: italic;
}

/* Halaman Produk */
/* 1. paginations */
.btn_pagemenuleft {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  background-color: #f5f5f5;
}

.btn_pagemenuright {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  background-color: #e6e6e6;
}

.btn_pageitem {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  background-color: #e6e6e6;
}

.btn_pageitem:hover {
  background-color: #f5f5f5;
  transition: 0.2s;
}

.btn_pageitem.Active {
  background-color: #f5f5f5;
}

/* Item 2 */

#prdk_item2 {
  background-color: #ebf4f1;
  display: flex;
  align-items: center;
  margin-top: 80px;
  height: 400px;
}

.subs_email {
  border-radius: 30px;
  width: 80px;
  font-size: 15px;
  border: 2px solid #000;
  height: 40px;
  width: 300px;
  padding: 0 10px;
  color: #000;
  font-style: italic;
  background-color: #ebf4f1;
}

/*Halaman Detail Produk */
.dp_type {
  margin-top: 80px;
}

.dp_type h1 {
  font-size: 45px;
  font-weight: 500;
}

.dp_cardlove {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  font-size: 9px;
  color: #000;
  border-radius: 50%;
  margin: 20px;
  left: auto;
  right: 0%;
  text-align: center;
}

.dp_cardlove p {
  margin-top: 11px;
}

.dp_bookmark {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  font-size: 9px;
  color: #000;
  border-radius: 50%;
  margin: 20px;
  left: auto;
  right: 0%;
  text-align: center;
}

.dp_bookmark p {
  margin-top: 11px;
}

.inp_typeher {
  border-radius: 25px;
  border: 2px solid #000;
  height: 40px;
  padding: 15px;
  width: 480px;
  font-style: normal;
}

.dp_select {
  border-radius: 25px;
  border: 2px solid #000;
  padding: 0 10px;
  width: 120px;
  height: 40px;
  font-style: normal;
}

.dp_comercil {
  border: 1px solid #000;
  padding: 0 10px;
  width: 100%;
  height: 40px;
  font-style: normal;
}

.btn_adcart {
  background-color: #000;
  color: #ffffff;
  border-radius: 30px;
  width: 200px;
  font-size: 15px;
  font-weight: 600;
  border: none;
  height: 50px;
  text-align: center;
}

.btn_Buy {
  background-color: #146ebe;
  color: #ffffff;
  border-radius: 30px;
  width: 200px;
  font-size: 15px;
  font-weight: 600;
  border: none;
  height: 50px;
  text-align: center;
}

.dp_imgprofil {
  border-radius: 50%;
}

.dp_messageowner {
  border-radius: 25px;
  border: 2px solid #000;
  height: 40px;
  padding: 15px;
  width: 88%;
  background-color: #f7fdfc;
}

.btn_rivew {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn_rivew button {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border: none;
  color: #000;
  background-color: #f5f5f5;
  font-weight: 500;
}

/* Swiper js */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn_next {
  right: 10px;
  left: auto;
  position: absolute;
  top: 35%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #000000;
}

.btn_prev {
  right: auto;
  left: 10px;
  position: absolute;
  top: 35%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #000000;
}

/* Profil Item */

#profil_itm1 {
  background-color: #fafafa;
}

.btn_follow {
  background-color: #ffffff;
  border-radius: 30px;
  width: 120px;
  font-size: 15px;
  font-weight: 600;
  border: 2px solid black;
  height: 40px;
  text-align: center;
}

.btn_follow:hover {
  background-color: #000;
  color: #ffffff;
  transition: 0.5s;
}

.profil_shortitem {
  margin-top: 75px;
  padding-left: 320px;
}

.profil_short {
  border: none;
  color: #7b7b7b;
  font-size: 20px;
  outline: none;
  font-weight: 500;
  cursor: pointer;
}

.profil_h5 {
  color: #7b7b7b;
  font-size: 20px;
}

.dp_profilname {
  padding-left: 20px;
}
.dp_profilname a {
  padding-left: 8px;
}

.profil_item {
  padding: 60px;
  display: flex;
}

.bottom_bar {
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  margin-bottom: -15px;
  height: 80px;
}

.bottom_bar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom_bar ul li {
  padding: 10px;
  font-weight: 500;
  color: #000;
}

/* Dashboard User */
#dashboard {
  display: flex;
}

.dash_sidebarSmall {
  text-align: end;
  padding: 10px;
}

.dash_sidebarSmall i {
  font-size: 25px;
  cursor: pointer;
}

/* dashboard sidebar active and not active */

.dash_menuBtn {
  text-align: end;
  padding: 15px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.dash_sidebar.active .dash_menuBtn {
  text-align: center;
  transition: all 0.5s ease;
}

.dash_sidebar.active #sideHide {
  display: block;
  width: 35px;
  padding-left: 10px;
  transition: all 0.5s ease;
}

.dash_sidebar.active #menuBtn {
  display: none;
  transition: all 0.5s ease;
}

#sideHide {
  display: none;
  transition: all 0.5s ease;
}

.dash_sidebar {
  top: 0;
  left: 0;
  width: 340px;
  background: #f2f2f2;
  height: 650px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  transition: all 0.5s ease;
}

.dash_sidebar.active {
  width: 80px;
  padding: 0px;
  transition: all 0.5s ease;
}

.dash_sidebar.active .dash_profil {
  padding-left: 15px;
  transition: all 0.5s ease;
}

.dash_profil {
  display: flex;
  padding-top: 10px;
  padding-left: 50px;
  transition: all 0.5s ease;
}

.dash_sidebar.active .dash_profil .dash_profilImg img {
  width: 50px;
  transition: all 0.5s ease;
}

.dash_profilImg img {
  border-radius: 50%;
  transition: all 0.5s ease;
}

.dash_sidebar.active .dash_profil .btn_uploadAvatar {
  display: none;
  transition: all 0.5s ease;
}

.btn_uploadAvatar {
  width: 100px;
  height: 25px;
  border: none;
  background-color: #3488d8;
  border-radius: 20px;
  color: #ffffff;
  font-weight: 500;
  transition: all 0.5s ease;
}

.dash_sidebar.active .dash_profil .dash_profilTitle {
  display: none;
  transition: all 0.5s ease;
}

.dash_profilTitle h4 {
  font-size: 30px;
  font-weight: normal;
  transition: all 0.5s ease;
}

.dash_profilTitle p {
  font-size: 13px;
  font-weight: normal;
  transition: all 0.5s ease;
}

.dash_sidebar.active .dash_link ul {
  padding-left: 0.7rem;
  transition: all 0.5s ease;
}

.dash_link ul {
  margin-top: 30px;
  transition: all 0.5s ease;
}

.dash_sidebar.active .dash_link ul li {
  padding: 0px 12px;
  transition: all 0.5s ease;
}

.dash_link ul li {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0;
  list-style: none;
  line-height: 50px;
  padding: 0 15px;
  padding-left: 40px;
  display: flex;
  margin-top: 20px;
}

.dash_link ul li img {
  width: 30px;
  transition: all 0.5s ease;
}

.dash_sidebar.active .dash_link ul li p {
  display: none;
  transition: all 0.5s ease;
}

.dash_link ul li p {
  font-size: 20px;
  margin-top: 3px;
  padding-left: 20px;
  transition: all 0.5s ease;
}

/* dashboard sidebar active and not active */

.aktif {
  background-color: #000;
}

.dash_link ul li:hover {
  background-color: #ffffff;
  transition: 0.5s;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  cursor: pointer;
}

.dash_content {
  flex: auto;
  padding: 40px;
}
.dash_content h1 {
  font-size: 50px;
  margin-top: 40px;
}

.dash_content h2 {
  margin-top: 40px;
}

.dash_info label {
  font-size: 20px;
  margin-top: 20px;
}

.dash_infoForm {
  height: 40px;
  border-radius: 35px;
  margin: 0;
  padding: 0;
  background-color: white;
  border: 2px solid #000;
  width: 80%;
  margin-top: 10px;
}

.dash_infoTxt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: black;
  font-size: 15px;
  transition: 0.4s;
  line-height: 40px;
  padding-left: 20px;
  margin-top: -2px;
  width: 90%;
  font-weight: normal;
  font-style: italic;
}

.dash_infoBtn {
  float: right;
  width: 35px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  padding-right: 20px;
  text-decoration: none;
}

.dash_infoBtnSve button {
  border: none;
  background-color: #000;
  border-radius: 30px;
  width: 100px;
  height: 40px;
  color: white;
  font-weight: 500;
  margin-top: 30px;
}

.aktif {
  background-color: #000;
}
.dash_contentProduct {
  display: flex;
  column-gap: 40px;
}

.dash_contentProductItem .dash_ProductImg {
  width: 300px;
}

.dash_productPrice {
  width: 55px;
  background-color: #ffffff;
  font-size: 13px;
  text-decoration: none;
  position: absolute;
  border-radius: 30px;
  color: #000;
  font-weight: 500;
  margin: 9px;
  height: 30px;
  text-align: center;
}

.dash_contentProductItem span {
  text-align: start;
  font-size: 18px;
}

.dash_productPrice p {
  margin-top: 5px;
  color: #000000;
  font-weight: 600;
}

.dash_productLove {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  font-size: 9px;
  color: #000;
  border-radius: 50%;
  margin: 10px;
  left: 250px;
  right: 0%;
  text-align: center;
}

.dash_productLove p {
  margin-top: 8px;
}

.dash_product {
  overflow-y: scroll;
  height: 500px;
  width: 75%;
  margin-top: 40px;
}

.dash_product::-webkit-scrollbar {
  width: 10px;
}

.dash_product::-webkit-scrollbar-track {
  background: #dcdcdc;
  border-radius: 20px;
}

.dash_product::-webkit-scrollbar-thumb {
  background: #a2a2a2;
  border-radius: 20px;
}

.dash_product::-webkit-scrollbar-thumb:hover {
  background: #8e8d8d;
}

.dash_purchasesBody {
  overflow-y: scroll;
  width: 70%;
  margin-top: 40px;
  height: 500px;
}

.dash_purchasesBody::-webkit-scrollbar {
  width: 10px;
}

.dash_purchasesBody::-webkit-scrollbar-track {
  background: #dcdcdc;
  border-radius: 20px;
}

.dash_purchasesBody::-webkit-scrollbar-thumb {
  background: #a2a2a2;
  border-radius: 20px;
}

.dash_purchasesBody::-webkit-scrollbar-thumb:hover {
  background: #8e8d8d;
}

.dash_purchases .dash_purchasesItem .dash_purchasesImg img {
  width: 150px;
  border-radius: 10px;
  height: 100px;
}

.dash_purchases {
  background: #f2f2f2;
  width: 650px;
  padding: 20px;
  border-radius: 10px;
}

.dash_purchases .dash_purchasesItem {
  display: flex;
  grid-gap: 40px;
  height: 100px;
}

.dash_purchasesNameProduct {
  display: flex;
  align-items: center;
}

.dash_purchasesNameProduct span {
  font-size: 18px;
}

.dash_purchasesPriceProduct {
  display: flex;
  align-items: center;
  padding-left: 60px;
}
.dash_purchasesPriceProduct span {
  font-size: 18px;
  font-weight: 600;
}
.dash_purchasesIconDwnld {
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.dash_purchasesIconDwnld img {
  width: 20px;
  cursor: pointer;
}
.dash_content {
  padding-top: 0px;
}

.dash_mobile {
  width: 80px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 30px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  display: none;
  font-weight: 600;
  cursor: pointer;
  font-size: 22px;
}

/* messages */
.filter_messages {
  margin-top: 45px;
  padding-right: 40px;
}

.dash_messages {
  overflow-y: scroll;
  height: 500px;
  width: 75%;
  margin-top: 40px;
}

.dash_messages::-webkit-scrollbar {
  width: 10px;
}

.dash_messages::-webkit-scrollbar-track {
  background: #dcdcdc;
  border-radius: 20px;
}

.dash_messages::-webkit-scrollbar-thumb {
  background: #a2a2a2;
  border-radius: 20px;
}

.dash_messages::-webkit-scrollbar-thumb:hover {
  background: #8e8d8d;
}

.dash_messagesBody {
  padding: 20px;
  border-radius: 50px;
  width: 600px;
  background: #f2f2f2;
}

.messages_pesan {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  color: #777777;
}

.messages_delete img {
  width: 18px;
}

.messages_name {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.messages_name a span {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dash_messagesItem {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.dash_messagesItem .messages_avatar img {
  width: 50px;
  border-radius: 50%;
}
/* Messages Form */
.back_btn a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-style: italic;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.profil_messagesPengirim {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  width: 500px;
}
.profil_messagesPengirim .profil_messagesImg img {
  width: 50px;
  border-radius: 50%;
}
.profil_messagesName {
  font-weight: 500;
  padding-left: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.profil_messagesWaktu {
  display: flex;
  align-items: center;
  color: #777777;
  font-style: italic;
}

.messages_form {
  margin-top: 20px;
}

.messages_Chat {
  padding: 20px;
  width: 500px;
  color: #777777;
  font-style: italic;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.divivder_Messages {
  height: 5px;
  width: 500px;
  border: none;
  border-radius: 30px;
  background: #f2f2f2;
}
.messages_formBox {
  border: none;
  margin-top: 50px;
}

.messages_formBox textarea {
  background-color: #f2f2f2;
  padding: 20px;
  outline: none;
  border: none;
  width: 500px;
  height: 250px;
}

.btnSend {
  position: relative;
  transform: translate(400px, -150%);
  width: 80px;
}

.btnSend button {
  width: 80px;
  height: 40px;
  border: none;
  background: #000;
  color: #fff;
  font-weight: 500;
  border-radius: 20px;
}
/* Responsive */

@media (min-width: 1975px) {
  .img_grup179 {
    margin-top: -170px;
  }
}

@media (min-width: 1400px) {
  .search-navBox {
    width: 1050px;
  }
  .img_grup179 {
    margin-top: -120px;
  }
}

@media (max-width: 1400px) {
  .card_right {
    margin-top: -190px;
  }

  .dp_bookmark {
    top: 20%;
  }
  .inp_typeher {
    width: 380px;
  }
  .profil_shortitem {
    padding-left: 180px;
  }
  .dp_type {
    margin-top: 150px;
  }
  .dash_product {
    width: 100%;
  }
  .dash_purchasesBody {
    width: 90%;
  }
}

@media (max-width: 1200px) {
  .search-navBox {
    width: 700px;
  }

  .card_right {
    margin-top: -160px;
  }
  .h3_item3 {
    width: 90%;
    padding-left: 50px;
  }
  .p_item3 {
    width: 92%;
    padding-left: 50px;
  }
  .h3_2_item3 {
    width: 90%;
    padding-left: 50px;
  }
  .p_2_item3 {
    width: 85%;
    padding-left: 50px;
  }

  #footer {
    margin-top: -80px;
  }
  .dp_cardlove {
    top: -3%;
  }

  .inp_typeher {
    width: 300px;
  }
  .dp_comercil {
    width: 100%;
  }
  .profil_shortitem {
    padding-left: 100px;
  }
  .btn_follow {
    width: 100px;
  }
  .btn_adcart {
    width: 180px;
  }
  .btn_Buy {
    width: 180px;
  }
  .dp_type {
    margin-top: 20px;
  }
  .dash_purchasesBody {
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .dash_productLove {
    left: 250px;
  }
}
@media (max-width: 992px) {
  .navbar {
    height: auto;
  }
  .item_Nav {
    margin-bottom: 0px;
  }
  .img_item1 {
    width: 100%;
    margin-bottom: 0px;
  }
  .h1_item1 {
    padding-left: 20px;
  }
  .p_item1 {
    padding-left: 20px;
  }
  .btn_menubar {
    display: block;
    background-color: #ffffff;
  }
  .card_right {
    margin-top: -120px;
  }
  .h3_item3 {
    width: 100%;
    padding-left: 0px;
  }
  .p_item3 {
    width: 92%;
    padding-left: 0px;
  }
  .h3_2_item3 {
    width: 100%;
    padding-left: 45px;
  }
  .p_2_item3 {
    width: 100%;
    padding-left: 45px;
  }

  #footer {
    margin-top: -80px;
  }

  .dp_cardlove {
    top: 2%;
  }
  .inp_typeher {
    width: 550px;
  }
  .btn_adcart {
    width: 180px;
  }
  .btn_Buy {
    width: 180px;
  }

  .profil_shortitem {
    margin-top: -50px;
    padding-left: 0px;
  }
  .position-sticky {
    padding: 5px;
  }
  .dp_type {
    margin-top: 10px;
  }

  .dash_content {
    overflow: auto;
  }
  .dash_content.mobile_active {
    overflow: visible;
  }
  .dash_contentProductItem .dash_ProductImg {
    width: 300px;
  }
  .dash_productLove {
    left: 250px;
  }
  #dashboard {
    margin-top: 30px;
  }
  .dash_messagesBody {
    width: 500px;
  }
  .dash_messages {
    width: 90%;
  }
}

@media (max-width: 833px) {
  .dash_contentProductItem .dash_ProductImg {
    width: 250px;
  }
  .dash_productLove {
    left: 200px;
  }

  .dash_purchases {
    width: 550px;
  }

  .dash_purchasesPriceProduct {
    padding-left: 0px;
  }
  .dash_purchasesIconDwnld {
    padding-left: 20px;
  }
}

@media (max-width: 766px) {
  #item1 {
    height: auto;
  }
  .h1_item1 {
    margin-top: 80px;
  }
  .img_item1 {
    margin-top: 30px;
  }
  .navbar {
    height: auto;
  }
  .card_right {
    margin-top: -0px;
  }
  #item3 {
    height: 700px;
  }
  .h3_2_item3 {
    width: 100%;
    padding-left: 0px;
  }
  .p_2_item3 {
    width: 100%;
    padding-left: 0px;
  }
  #footer {
    display: none;
  }
  #footer_mobile {
    display: block;
    height: auto;
    padding: 50px 0px;
    align-items: center;
    margin-top: -100px;
  }
  .dp_cardlove {
    top: -2%;
  }
  .inp_typeher {
    width: 350px;
  }
  .dash_infoTxt {
    width: 85%;
  }
  .dash_purchases .dash_purchasesItem {
    height: 80px;
  }
  .dash_purchases .dash_purchasesItem .dash_purchasesImg img {
    width: 125px;
    height: 80px;
  }
  .dash_purchases {
    width: 420px;
  }
  .dash_purchases .dash_purchasesItem {
    column-gap: 25px;
  }
  .dash_purchasesIconDwnld {
    padding-left: 0px;
  }
  .dash_messages {
    width: 100%;
  }
  .dash_messagesBody {
    width: 390px;
  }
}

@media (max-width: 737px) {
  .dash_contentProduct {
    flex-direction: column;
  }
  .dash_product {
    width: 80%;
  }
  .dash_purchasesBody::-webkit-scrollbar {
    width: 0px;
  }
  .dash_purchasesNameProduct span {
    font-size: 17px;
  }
  .profil_messagesPengirim {
    width: 400px;
  }
  .messages_Chat {
    width: 400px;
  }
  .divivder_Messages {
    width: 400px;
  }
  .messages_formBox textarea {
    width: 400px;
    height: 200px;
  }
  .btnSend {
    transform: translate(380%, -150%);
  }
}

@media (max-width: 576px) {
  .h1_item1 {
    padding-left: 0px;
    margin-top: 50px;
  }
  .p_item1 {
    padding-left: 0px;
  }

  .search-sidebar {
    width: 210px;
  }
  .search-sideTxt {
    width: 75%;
  }
  .login_btn_sidebar {
    transform: translate(240%, 10%);
  }
  #item3 {
    height: 720px;
  }
  .card_right {
    margin-top: 0px;
  }
  .h3_2_item3 {
    margin-top: 20px;
  }
  #item3 .container {
    margin-top: -40px;
  }
  .modal-dialog {
    padding-left: 0px;
  }
  .subs_email {
    width: 200px;
  }
  .inp_typeher {
    width: 200px;
  }
  .dp_cardlove {
    width: 35px;
    height: 35px;
    top: -3%;
  }
  .dp_cardlove p {
    margin-top: 10px;
  }
  .dp_bookmark {
    width: 35px;
    height: 35px;
  }

  .dp_bookmark p {
    margin-top: 10px;
  }

  .btn_adcart {
    width: 150px;
  }
  .btn_Buy {
    width: 150px;
  }

  .dp_profilname {
    padding-left: 10px;
  }
  .dash_content h1 {
    font-size: 32px;
  }
  .dash_infoTxt {
    width: 75%;
  }
  .dash_infoForm {
    width: 95%;
  }

  .dash_content {
    overflow: visible;
  }

  .dash_contentProduct {
    flex-direction: column;
  }
  .dash_product {
    width: 100%;
  }

  .dash_contentProductItem .dash_ProductImg {
    width: 350px;
  }
  .dash_product::-webkit-scrollbar {
    width: 0px;
  }
  .dash_productLove {
    left: 300px;
  }
  .dash_mobile {
    display: flex;
  }
  /* sidebar mobile active */
  .dash_sidebar {
    display: none;
    transition: all 0.5s ease;
  }
  #dashboard {
    margin-top: 0px;
  }

  .dash_sidebar.mobile_active {
    width: 350px;
    padding: 0px;
    transition: all 0.5s ease;
    display: block;
  }

  .dash_content.mobile_active {
    overflow: auto;
  }

  .dash_sidebar.mobile_active .dash_profil {
    display: flex;
    padding-top: 10px;
    padding-left: 50px;
    transition: all 0.5s ease;
  }

  .dash_sidebar.mobile_active .dash_profil .dash_profilImg img {
    border-radius: 50%;
    transition: all 0.5s ease;
  }

  .dash_sidebar.mobile_active .dash_profil .btn_uploadAvatar {
    width: 90px;
    height: 25px;
    border: none;
    background-color: #3488d8;
    border-radius: 20px;
    color: #ffffff;
    font-weight: 500;
    transition: all 0.5s ease;
  }

  .dash_sidebar.mobile_active .dash_profil .dash_profilTitle {
    display: block;
    transition: all 0.5s ease;
  }

  .dash_sidebar.mobile_active .dash_link ul {
    margin-top: 30px;
    transition: all 0.5s ease;
  }

  .dash_sidebar.mobile_active .dash_link ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0;
    list-style: none;
    line-height: 50px;
    padding: 0 15px;
    padding-left: 40px;
    display: flex;
    margin-top: 20px;
  }

  .dash_sidebar.mobile_active .dash_link ul li p {
    display: block;
    transition: all 0.5s ease;
  }

  .dash_sidebar.mobile_active.active {
    width: 80px;
  }

  .dash_sidebar.mobile_active.active .dash_profil {
    padding-left: 15px;
  }

  .dash_sidebar.mobile_active.active .dash_profil .dash_profilImg img {
    width: 50px;
    transition: all 0.5s ease;
  }

  .dash_sidebar.mobile_active.active .btn_uploadAvatar {
    display: none;
    transition: all 0.5s ease;
  }

  .dash_sidebar.mobile_active.active .dash_profilTitle {
    display: none;
    transition: all 0.5s ease;
  }

  .dash_sidebar.mobile_active.active .dash_link ul {
    padding-left: 0.7rem;
    transition: all 0.5s ease;
  }

  .dash_sidebar.mobile_active.active .dash_link ul li {
    padding: 0px 12px;
    transition: all 0.5s ease;
  }

  .dash_sidebar.mobile_active.active .dash_link ul li p {
    display: none;
    transition: all 0.5s ease;
  }

  /* side Active */
  .dash_messages::-webkit-scrollbar {
    width: 0px;
  }
  .dash_messagesBody {
    width: 350px;
  }
  .messages_Chat {
    width: 315px;
  }
  .divivder_Messages {
    width: 315px;
  }
  .messages_formBox textarea {
    width: 315px;
  }
  .dash_purchases {
    width: 350px;
    padding: 10px;
  }
  .dash_purchases .dash_purchasesItem {
    column-gap: 15px;
  }
  .dash_purchases .dash_purchasesItem .dash_purchasesImg img {
    width: 100px;
    height: auto;
  }
  .dash_purchasesImg {
    display: flex;
    align-items: center;
  }
  .btnSend {
    transform: translate(280%, -150%);
  }
  .dash_sidebar {
    height: 670px;
  }
}

@media (max-width: 514px) {
  .dash_content {
    overflow: auto;
  }
  .dash_content.mobile_active {
    overflow: auto;
  }
}

@media (max-width: 437px) {
  .dash_contentProductItem .dash_ProductImg {
    width: 300px;
  }
  .dash_productLove {
    left: 250px;
  }
  .dash_messagesBody {
    width: 320px;
  }
  .messages_pesan {
    font-size: 13px;
  }
  .filter_messages {
    padding-right: 0px;
  }
  .dash_purchases {
    width: 320px;
  }
  .dash_purchases .dash_purchasesItem .dash_purchasesImg img {
    width: 80px;
  }
  .dash_purchasesImg {
    display: flex;
    align-items: center;
  }
  .dash_purchasesNameProduct span {
    font-size: 15px;
  }
  .dash_purchasesPriceProduct span {
    font-size: 15px;
  }
  .dash_purchasesIconDwnld img {
    width: 18px;
  }
}

@media (max-width: 398px) {
  .search-sidebar {
    width: 150px;
  }
  .search-sideTxt {
    width: 70%;
  }
  .dash_content {
    padding: 20px;
  }

  .login_btn_sidebar {
    transform: translate(160%, 10%);
  }
  .h5_item2 {
    font-size: 15px;
  }
  .a_item2 {
    font-size: 15px;
  }
  #item3 {
    height: 900px;
  }
  .subs_email {
    width: 150px;
  }
  .dp_profilname {
    padding-left: 10px;
  }
  .btn_follow {
    width: px;
  }
  .dp_cardlove {
    width: 30px;
    height: 30px;
    top: -3%;
  }
  .dp_cardlove p {
    margin-top: 8px;
  }
  .dp_bookmark {
    width: 30px;
    height: 30px;
  }

  .dp_bookmark p {
    margin-top: 8px;
  }
  .inp_typeher {
    width: 190px;
  }
  .dash_content h1 {
    font-size: 28px;
  }
  .dash_infoTxt {
    width: 65%;
  }
  .dash_product::-webkit-scrollbar {
    width: 0px;
  }
}
